@import '../../../styles/_mixin.scss';

.container {
    grid-column: 1/3;
    grid-row: 2/5;

    .head {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        width: 100%;
        justify-content: center;
        margin-bottom: 2em;
        align-items: center;

        & > p {
            padding: 0.4em;
            border-radius: 1em;
            text-align: center;
            text-transform: uppercase;
        }

        .active {
            font-style: italic;
            font-weight: 700;
            font-size: 0.8em;
        }

        .current {
            font-weight: 700;
            background-color: orange;
            color: white;
        }

        .non_active {
            font-size: .8em;
        }
    }

    .wrapper {
        @include form_main;
        height: 25em;
    }

    .buttons {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .next {
        grid-column: 3/4;
        height: 3em;
    }

    & button {
        margin-top: 2em;
        width: 100%;
        background-color: blue;
        color: white;
        border-radius: 1em;
        font-size: 1em;
        text-transform: uppercase;

        &:hover{
            background-color: orange;
        }
    }
}
@media (min-width: 320px) and (max-width: 499px) {
    .container {
        & .wrapper {
            width: 100vw;
            margin: 0;
        }
    }
    
}