    .container {
        display: grid;
        max-width: 1000px;
        justify-items: center;
        margin: 0 auto;

        .list {
            display: grid;
            grid-auto-flow: row;
            width: 100%;
        }
    }