.container {
    grid-column: 1/3;
    border: 1px solid;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: grid;
    height: 5rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            padding: .4em;
            color: rgba(0, 0, 0, 0.7);

            &:hover {
                background-color: blue;
                color: white;
                border-radius: 10px;
            }
        }

        .creator {
            padding: 0.1em;
            text-align: center;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 0.8em;
        
        justify-items: start;
        width: 45%;
    }
}
