.container {
    border: 1px solid;


    .header {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1em;
    }

    .addForm {
        display: grid;
        justify-items: center;
        grid-row-gap: 1rem;

        & > label{
            font-size: 1.2rem;
        }
        & > textarea {
            resize: none;
            width: 30rem;
            height: 5rem;
            border-radius: .5rem;
            padding: .3rem .5rem;
            font-size: 1rem;
        }
        & > button{
            border-radius: 1rem;
            font-size: 1.5rem;
            padding: .3rem .6rem;
            
        }
    }
}
