.container {
    display: grid;
    grid-row-gap: 0.8em;
    justify-items: center;
    text-align: center;
    border: 1px solid;
    border-radius: 1em;
    padding: 0.8em 0.2em;
    width: 100%;


    & img {
        height: 5em;
    }

    .titleProduct {
        text-decoration: none;
        color: black;
        opacity: 90%;
        font-size: 1.2rem;
        display: block;
        height: 5em;
        font-weight: 300;
    }

    .priceProduct {
        font-size: 1.4em;
        opacity: 80%;
        font-weight: 500;

        &:after {
            content: ' P';
        }
    }

    .buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;

        & button {
            height: 2em;
            background-color: orange;
            border-radius: .7em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5em;



            & svg {
                height: 1.3em;
            }

            &:hover {
                background-color: lightblue;
            }
        }

        & div {
            .active, .non-active {
                height: 1.5em;
                width: 1.5em;
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                }
            }

            .active {
                opacity: 1;

                & svg {
                    fill: blue;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 499px) {
    .container {
        width: 95%;

        .titleProduct {
            font-size: 0.8em;
        }

        .priceProduct {
            font-size: 1em;
        }
    }
}
