.container {
    display: grid;
    grid-template-rows: minmax(1em) minmax(1em);
    grid-row-gap: 0.8em;
    justify-items: center;
    text-align: center;
    border: 1px solid;
    border-radius: 1em;
    padding: 0.8em 0.2em;
    width: 12em;
    

    & img {
        height: 5em;
    }

    & a {
        text-decoration: none;
        color: black;
        opacity: 80%;
        font-size: 1.2rem;
        display: block;
        height: 5em;
        
        font-weight: 300;
        
    }

    & p {
        font-size: 1.4em;
        opacity: 80%;
        font-weight: 500;

        &:after {
            content: ' P';
            
        }
    }

    .buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;

        & button {
            height: 2em;
            background-color: orange;
            border-radius: .7em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5em;



            & svg {
                height: 1.3em;
            }

            &:hover {
                background-color: lightblue;
            }
        }



        & div svg {
            height: 1.5em;
            width: 1.5em;
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }
}
