.cont {
    position: relative;
    grid-column: 1;
}

.offscreen {
    display: none;
}

.visible {
    background-color: whitesmoke;
    position: absolute;
    opacity: 1;
    z-index: 6;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
    border-radius: 1em;
    
}

.cat-link{
    text-decoration: none;
    color: black;
    font-size: 1.3em;

}

.cat-link:hover{
    background: black;
    color: white;
}

.cat-link:nth-last-child(n-2){
    padding: .5em ;
}