@import '../../../styles/_mixin.scss';

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 20rem));
    grid-auto-rows: 15rem;
    justify-content: center;
    grid-gap: 2em;
    width: 80%;
    margin: 0 auto;
}


@include s {
    .container {
        width: 100vw;
        grid-template-columns: repeat(2, calc((100vw / 2) - .5em));
        grid-auto-rows: 12rem;
        grid-gap: .5rem;
        margin: 0;
    }
}
