.container {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-columns: max-content;
    grid-row-gap: 1em;
    justify-items: center;


    & fieldset {
        width: 100%;
        border: 1px solid;
        border-radius: 1em;
        padding: 0 1em 1em;
        & legend {
            text-transform: uppercase;
            background-color: blue;
            color: white;
            padding: 1em 2em;
            border-radius: 1em;
            width: 100%;
            text-align: center;
        }

        & section {
            margin-top: 1em;

            & label {
                display: inline-block;
                width: 10em;
            }
            & input{

            }
        }
    }
}
