.container {
    grid-row-start: 3;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 80%;
    margin: 0 auto;
    row-gap: 1em;
    
    .title{
        justify-self: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;

    }
    .total{
        justify-self: end;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 700;
    }
    .link{
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em;
        background: blue;
        color: white;
        justify-self: end;
        border-radius: 1em;
        
    }
}
