.container {
    overflow: hidden;
    width: 100%;
    height: 20em;


    .active {
        inline-size: 100%;
        block-size: auto;
        position: relative;
        object-fit: cover;
        
        
    }

    .offscreen {
        display: none;
        object-fit: cover;
        max-inline-size: 100%;
        block-size: auto;
    }
}
