.container {
  
    display: grid;
    justify-content: center;
    justify-items: center;
    & h1{
        font-size: 1.5em;
        & + p{
            font-size: 3em;
            font-weight: 700;
        }
    }
    .buttons button:first-child{
        font-size: 2em;
        border-radius: 1em;
        padding: 0.2em 0.4em;
        text-transform: uppercase;
        background-color: blue;
        color: white;
        &:hover{
            background-color: orange;
            cursor: pointer;
        }
    }
    
}
