.fav {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, calc(100% / 8));
    border: 1px solid;
    border-radius: 1em;
    height: 5em;

    & h6 {
        background-color: blue;
        color: white;
        border-radius: 1em;
        border: 1px solid;
        padding: 1em 1em;
    }

    & a {
        background-color: orange;
        color: white;
        border-radius: 1em;
        border: 1px solid;
        padding: 1em 1em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            background-color: orangered;
            cursor: pointer;
        }
    }

    @media (min-width: 320px) and (max-width: 499px) {
        .fav {
            grid-template-columns: repeat(4, calc(100vw / 4));
        }
    }
}
