@import '../../../../styles/_mixin.scss';


.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        'img title buttons' 'img properties cart';
    padding: 1rem 0;
    border-block-start: 1px solid rgba(0, 0, 0, 0.2);


    &:hover {
        box-shadow: 0.3em 0.3em 0.3em rgba(0,0,0,0.3), 0.3em -0.3em 0.3em rgba(0,0,0,0.3);
    }

    & > img {
        grid-area: img;
        max-inline-size: 100%;
    }


    .productTitle {
        grid-area: title;
        text-decoration: none;
        font-size: 1.4rem;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }


    .headerButtons {
        grid-area: buttons;
        justify-self: center;
        align-self: center;

        & button {
            height: 4em;
            width: 4em;
            padding: 0.2em 0.4em;
            background-color: blue;
            fill: white;
            border-radius: 1em;

            &:hover {
                background-color: orange;
                cursor: pointer;
            }
        }
    }

    .mainProperties {
        grid-area: properties;
        display: grid;
        grid-row-gap: 0.1rem;

        & p {
            font-weight: 600;
        }

        & span {
            font-weight: 500;
        }
    }




    .cart {
        grid-area: cart;
        align-self: center;

        & button {
            font-size: 2rem;
            border-radius: 1em;
            padding: 0.2em 0.4em;
            background-color: blue;
            color: white;

            &:hover {
                background-color: orange;
                cursor: pointer;
            }
        }
    }
}

@include s {
    .container {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'img title' 'img properties' 'cart buttons';
        padding: 0.5rem 0;

        .productTitle {
            font-size: 1rem;
        }

        .mainProperties {
            grid-auto-rows: min-content;

            & p, span {
                font-size: .8rem;
                font-weight: normal;
            }
        }

        .headerButtons {
            justify-self: start;

            & button {
                height: 1.7rem;
                width: 1.7rem;
                padding: 0;
                border-radius: 0.5rem;

                & svg {
                    height: 1rem;
                    width: 1rem;
                }
            }
        }

        .cart {
            justify-self: end;

            & button {
                font-size: 1rem;
            }
        }
    }
}
