.container {
    display: grid;
    grid-template-columns: 0.15fr 0.8fr 0.15fr;
    justify-items: center;
    grid-auto-rows: minmax(7em, 7em);
    padding: 0 1em;
    border: 1px solid;
    border-radius: 1em;
    align-items: center;
    width: 70%;
    margin: 2em auto;

    & img {
        height: 95%;
    }

    & button {
        border: none;
        background-color: white;
        justify-self: end;
        & svg {
            height: 2em;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}
