.container{
    margin: 0 auto 1em;
    width: 70%;
    

    & > h2 {
        text-align: center;
        margin-block-end: 2em;
        font:{
            size: 1em;
            weight: 700;
        };
         padding-top: 1em;
    }
    
    .details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        .title{
            justify-self: center;
            padding-bottom: 1em;
        }
        .price{
            justify-self: center;
        }
    }
}