.productCard {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    border: 2px solid;
    padding: 1em 2em;
    border-radius: 1em;

    &:hover {
        border: 2px solid orange;
    }

    & > img {
        grid-column: 1/2;
        width: 10em;
    }

    .container {
        display: grid;
        justify-items: center;

        & a {
            text-decoration: none;
            font-size: 1.1em;
            font-weight: 700;
            color: black;
            margin-bottom: 1em;
        }




        .prop {
            position: relative;
            top: 0;
            right: 0;
        }
    }

    p {
        font-weight: 600;
    }

    span {
        font-weight: 500;
    }

    .buttons {
        display: flex;
        align-items: center;

        & button:first-child {
            font-size: 2em;
            border-radius: 1em;
            padding: 0.2em 0.4em;
            text-transform: uppercase;
            background-color: blue;
            color: white;

            &:hover {
                background-color: orange;
                cursor: pointer;
            }
        }

        .icons {
            height: 4em;
            width: 4em;
            padding: 0.2em 0.4em;
            background-color: blue;
            fill: white;
            border-radius: 1em;

            &:hover {
                background-color: orange;
                cursor: pointer;
            }
        }
    }
}
