.container{
    display: grid;
    grid-template-rows: 4em auto;
    justify-items: center;
    row-gap: 1em;
    width: 90%;
    margin: 0 auto ;
    .title{
        
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        
    }
}