.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2em;

    .title {
        grid-column: 1/3;
        font-weight: 700;
        font-size: 2em;
        margin-block-end: 2em;
    }
}
