.checkout {
    & div {
        margin-bottom: 1em;

        & h3 {
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1em;
            font-size: 1.5em;
        }
        & p{
            text-transform: uppercase;
            margin-bottom: .5em;
            & span{
                font-weight: 700;
            }
            & + h4{
                text-transform: uppercase;
                font-weight: 700;
                margin: 2em 0 1em;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 499px) {
    .checkout{
        padding: 0 1em;
    }
}