@import '_breackpoints.scss';


@mixin form_main {
    width: 50%;
    margin: 0 auto;


    & section {
        display: grid;
        margin-bottom: 1em;
        row-gap: 0.5em;

        & label {
            text-transform: uppercase;
            font-weight: 700;
            opacity: 80%;
        }

        & input {
            border-radius: 1em;
            height: 2em;
            padding-left: 1em;
        }
    }
}

@mixin form_section {
    display: grid;
    margin-bottom: 1em;
    row-gap: 0.5em;
    justify-content: center;

    & label {
        text-transform: uppercase;
        font-weight: 700;
        opacity: 80%;
    }

    & input {
        border-radius: 1em;
        height: 2em;
        padding-left: 1em;
    }
}

// breackpoint mixins

@mixin s {
    @media(min-width: #{$screen-s-min}) and ( max-width: #{$screen-sm-min - 1}) {
        @content
    }
}

@mixin sm {
    @media(min-width: #{$screen-sm-min}) {
        @content
    }
}

@mixin md {
    @media(min-width: #{$screen-md-min}) {
        @content
    }
}

@mixin lg {
    @media(min-width: #{$screen-lg-min}) {
        @content
    }
}

@mixin xl {
    @media(min-width: #{$screen-xl-min}) {
        @content
    }
}

@mixin rwd($screen){
    @media(min-width: $screen + 'px'){
        @content
    }
}
