@import '_reset.scss';
@import '_typography.scss';
@import '_colors.scss';


#root {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    justify-items: center;
}