@import '_reset.scss';

#root{
    display: grid;
    max-width: 980px;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 0.08fr 0.08fr 0.35fr .5fr 0.25fr;
    grid-template-areas: 
        "header header"
        "cat fav"
        "promo promo"
        "pop pop"
        "footer footer";
    grid-row-gap: 1em;
}