.container {


    & h1 {
        justify-self: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        text-align: center;
        margin-bottom: 2em;
    }

    .compareList {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        overflow:hidden;
        justify-content: center;
        justify-items: center;
    }
}
