.product_card {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

.product_img {
    grid-column: 1/2;
    width: 10em;
  
}

.product_title {
   
}

.product_price {
   
}

.in_cart {
   width: 40%;

}
.properties {
    
}
.container {
    display: grid;
    justify-items: center;
}
