.main {
    grid-row: 2/3;
    width: 100%;



    & > div {
        display: grid;
        grid-row-gap: 4em;
        min-height: 60em;
        grid-auto-rows: min-content;
        padding: 0 calc((100vw - 1500px)/2);
    }
}
@media (min-width: 320px) and (max-width: 499px) {
    .main{
        width: 100vw;
        & > div{
            grid-row-gap: 1em;
        }
    }
}