.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
    padding: 0 2em;
    

    &  h1 {
        grid-column: 1/7;
        font-size: 2em;
        font-weight: 700;
        
        text-transform: uppercase;
        
    }
}
