.PaymentMethod{
    display: grid;
    row-gap: 1em;
    margin-bottom: 2em;

    & legend{
        grid-column: 1/3;
        text-transform: uppercase;
        font-weight: 700;
        opacity: 80%;
        margin-bottom: 2em;
    }
    & input{
        height: 1em;
        margin-right: 1em;
    }
    .alert{
        color: indianred;
        font-size: 0.8em;
        margin: 0 2em;
    }
}