.container {
    border: 1px solid;
    min-height: 5em;
    width: 100%;
    margin: 0 auto 2em;
    padding: 1em 2em;
    border-radius: 1em;
    display: grid;
    row-gap: 2em;

    .block {
        display: grid;
        row-gap: 1em;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;

        & p {
            font-size: 1rem;

            & span {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        

        & a {
            justify-self: end;
        }
    }

    .details {
        display: flex;
        margin-top: 1em;
        justify-content: space-between;
    }

    .offscreen {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 499px){
    .container {
        padding: 1em .5em;

        .main {
            grid-template-columns: repeat(4, 1fr) 1em;

            & p {
                font-size: .7rem;

                & span {
                    font-size: .8rem;
                }
            }
        }
    }
}
