.button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 50%;

    & svg {
        transform: scale(0.5);


        & polyline {
            transition: all 250ms ease-in-out;
            stroke: blue;
        }
    }

    &:hover polyline,
    &:focus polyline {
        stroke-width: 3;
    }

    &:active polyline {
        stroke-width: 6;
        transition: all 100ms ease-in-out;
    }
}
