.headerWrapper {
    position: relative;
    background-color: blue;
    color: white;
    width: 100%;

    header {
       padding: 0 calc((100% - 1500px)/2);
        display: flex;
        grid-template-columns: repeat(2, 1fr) ;
        
        align-items: center;
        .headerContent{
            display: flex;

        }
        
    }
}
@media (min-width: 320px) and (max-width: 499px) {
    .headerWrapper {
        width: 100%;

        header {
            display: grid;
            width: 100vw;
            grid-template-columns:auto;
            padding: .5em 0;
            grid-row-gap: 1em;
            .headerContent{
                display: none;
            }
            .mobile{
                display: flex;
                align-items: center;
                justify-content: space-between;

            }
        }
    }
}
