.nav > ul {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-align: start;

    .link {
        text-decoration: none;
        color: var(--clr-link);
        padding: 0.5em;
        border-radius: 0.5em;

        &:where(:hover, :focus) {
            background: var(--clr-link-bg);
        }
    }

    [aria-current="page"] {
        background: var(--clr-link-active);
    }
}
