.nav > ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: repeat(auto-fill, 1fr);
    grid-column-gap: 4%;
    align-items: center;

    .link {
        text-decoration: none;
        color: var(--clr-link);
        padding: 0.5em;
        border-radius: 0.5em;

        &:where(:hover, :focus) {
            background: var(--clr-link-bg);
        }
    }

    [aria-current="page"] {
        background: var(--clr-link-active);
    }
}
