.sell {
    display: grid;
    text-transform: capitalize;
    align-content: start;

    .title {
        padding-top: 0.2em;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: .5em;
        color: white;
    }
}
@media (max-width: 768px){
    .sell ul {
            display: none;
        }
}