.sell {
    display: grid;
    text-transform: capitalize;
    align-content: start;
    font-size: 1.2rem;

    .title {
        padding-top: 0.2em;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: .5em;
        color: white;
    }
}
