.container {
    display: grid;
    grid-template-columns: 0.1fr 0.7fr 0.15fr 0.1fr 0.1fr;
    column-gap: 0.4em;
    align-items: center;
    justify-items: center;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 1em;
    width: 95%;
    margin: 0 auto;

    & img {
        border-radius: 1em;
    }

    .price, .total_price {
        &:after {
            content: ' P'
        }
    }
}

@media (min-width: 320px) and (max-width: 499px) {
    .container {
        .title, .price, .total_price {
            font-size: 0.8rem;
        }

        & img {
            height: 3em;
        }
    }
   
}
