.wrapper {
    width: 100vw;
    background-color: blue;

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin: 0 auto;
        padding: 0.5rem;
        max-width: 1500px;
    }
}

@media (max-width: 768px) {
    .wrapper .footer {
        grid-template-columns: 1fr;
        margin-block-end: 4rem;
    }
}
