.containerr {
    display: grid;
    width: inherit;
    grid-row-gap: 2em;
    justify-items: center;
    grid-column-start: 2;

}
.product-card {
    display: grid;
    width: 80%;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(5, 0.2fr);
    grid-template-areas:
        "img title"
        "img ."
        "img ."
        "img price"
        "img cart";
    text-align: center;
}
.product-img{
    grid-area: img;
    display: grid;
    justify-self:end;
}
.product-title{
    grid-area: title;
}
.product-price{
    grid-area: price;
}
.in-cart{
    grid-area: cart;
}