.main {
    display: grid;
    justify-items: center;
    

    .container {
        display: grid;
        grid-template-columns: 0.8fr .2fr;
        width: 100%;
        justify-items: center;
        margin: 0 auto;

        .wrapper {
            display: grid;
            grid-row-gap: 2em;
            justify-self: end;
        }
    }
}
