.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 1em;

    .author_info {
        display: grid;
        
        

        .photo {
            height: 4rem;
            width: 4rem;
            background-color: black;
            border-radius: .5rem;
            justify-self: center;
        }
        .date{
            text-align: center;
            font-size: 0.8rem;
            .author{
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }


    .value {
        margin-left: 30px;
    }
}
