.container {
    position: fixed;
    top: 4em;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    z-index: 7;
    top: 0;

    .offscreen {
        display: none;
    }

    .visible {
        background-color: whitesmoke;
        position: absolute;
        opacity: 1;
        display: grid;
        padding: 1em 2em;
        border-radius: 1em;
        justify-items: start;
        grid-auto-rows: min-content;
        row-gap: .5em;
        top: 5em;



        & a {
            text-decoration: none;
            font-size: 1.3em;
            color: black;
            padding: 0.2em 0.4em;


            &:hover {
                background-color: orange;
                color: white;
                border-radius: 1em;
            }
        }
    }
}
.offscreen {
    display: none;
}
