.container {
    display: grid;
    padding-inline-start: 2em;

    & > h1 {
        font: {
            size: 2em;
            weight: 700;
        }

        ;
        margin-block-end: 2em;
    }
}
