.container{
    padding: 1em 2em;
    display: flex;
    gap: 1em;
    border-radius: 1em;
    .imagePromo{
        width: 150px;
        height: 150px;
        background-color: azure;
        border-radius: 1em;
    }
    .title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.1em;
    }
    .promoDescription{
        .date{
            font-size: 0.8em;
            font-style: italic;
            margin-block-end: 2em;
        }
    }
    &:hover{
        background-color: lightblue;
        transition: background-color  0.5s;
    }
}