.container{
    grid-column: 1/3;
    grid-row: 2/5;
    
    border: 1px solid;
    border-radius: 1em;
    margin: 0 auto;
    padding: 1.5em 4em;
    width: 80%;
    
    .title{
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: .5em;
    }
    .value{
        margin: 2em 0;
        font-size: 1.3em;
        
    }

}