.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 2em;

    .price{
        &:after{
            content: ' P'
        }
    }

    .count{
        display: flex;
        align-items: center;
        button {
            margin: 0 5px;
        }
    }

    .total_price{
        &:after{
            content: ' P'
        }
    }
}