.container {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 1fr 2fr 1fr;
    column-gap: 0.4em;
    align-items: center;
    justify-items: center;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 1em;


    & img {
        max-inline-size: 100%;
        border-radius: 1em;
    }

    & .title {
    }

    .price, .totalPrice {
        &:after {
            content: ' P'
        }
    }

    .count {
        display: flex;
        justify-content: space-around;
        width: 5em;

        input {
            width: 1.9em;
            border-radius: 0.4em;
            border: 1px solid;
        }

        button {
            width: 1.5em;
            border: 1px solid;
            border-radius: 0.4em;

            &:hover {
                background-color: orange;
                color: white;
            }
        }
    }


    & > button {
        align-self: center;
        max-inline-size: 100%;
        border: none;

        & svg {
            height: 1.5em;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}
@media (min-width: 374px) and (max-width: 499px) {
    .container {
        width: 100vw;
        padding: 1em 0.2em;

        & img {
            width: 4em;
        }

        .title, .price, .totalPrice {
            font-size: 0.8em;
        }

        & button {
            display: none;
        }
    }
}