.container {
    grid-row: 4 / 5;
    grid-column: 1 / 3 ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2em;
    .main_title{
        font-size: 2em;
        font-weight: 700;
        grid-column-start: 1;
        grid-column-end: 5;
        text-transform: uppercase;
    }
    .wrapper{
        height: 100%;
        display: grid;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

    .img {
        height: 10vh;
    }
    .price:after {
        content: 'P';
        margin-left: 0.2em;
    }
    
}
