.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "1 img user"
        "1 img bonus";
    position: relative;

    .profileImg {
        grid-area: img;
        height: 40px;
        width: 60px;
        border-radius: 40%;
    }
    .user {
        grid-area: user;
    }
    .bonus {
        grid-area: bonus;
    }
    .offscreen{
        display: none;
    }
    .active{
        position: absolute;
        display: grid;
        right: 1em;
        top: 4em;
        z-index: 3;
        & a{
            padding: .2em 0;
            margin: .2em 0;
        }
        & a:hover{
            background-color: black;
            color: white;
        }
    }
    &:hover{
        background-color: lightgrey;
    }
}
