.container {
    grid-area: imgBlock;
    display: grid;
    grid-template-rows: 28rem 1fr;
    grid-row-gap: 1rem;
    justify-content: center;

    .mainImg {
        & > img {
            display: block;
            max-block-size: 100%;
            margin: 0 auto;
        }

        .offscreen {
            display: none;
        }
    }

    .small {
        width: 100%;
        align-self: center;

        .activeSmall {
            border: .2em solid;
        }
    }
}